@import '../../styles/settings.scss';

.card {
  position: relative;
  background: $color-light;
  border: 1px solid lighten($color-dark, 60%);
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.btn {
  border: none;
  background: none;
  color: $color-dark;
  cursor: pointer;
}

.active {
  color: $color-warning;
}