@import '../../styles/settings.scss';

.input {
  min-width: 200px;
  background: $color-light;
  border: 1px solid lighten($color-light, 60%);
  padding: $base-size ($base-size * 1.5);
  margin: 0 0 $base-size 0;
  font-family: $font-text;
  border-radius: $radius;
}