@use "sass:math";
@import '../../styles/settings.scss';

.favorite {
  padding: $base-size;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title + .subtitle {
  margin-top: (- $base-size * 3);
}

.favoriteContainer {
  width: calc(33% - 12px);
  background: $color-light;
  margin: 0 auto;
  padding: ($base-size * 1.5);
  border-radius: $radius;
  box-shadow: 0 math.div($base-size, 4) 0 rgba(0,0,0,0.3);
  color: $color-dark;

  &:last-child {
    margin: 0 0 $base-size 0;
  }

  .subtitle {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }
}

.cards {
  padding: math.div($base-size, 2) 0;
}

@media (max-width: 767px) {
  .column {
    width: 100%;
    margin: 0 0 $base-size 0;
  }
}