@import '../../styles/settings.scss';

.nav {
  background: darken($color-dark, 3%);
  font-size: 24px;
  padding: 1px 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: $color-light;
    text-decoration: none;
  }

  .navlist {
    display: flex;
    list-style-type: none;

    .listitem {
      margin-left: 10px;
    }
  }

  .linkActive {
    color: $color-warning;
  }
}